/* 
	Theme: Login page
	Author: Sanjida Shammi
	Live URL: https://sanjida123shammi.github.io/login_form

	Primary Color: #002333
	Secondary Color: #00ff84

	Font Style: Quicksand
 */


/* Global CSS */
*{
	margin: 0;
	padding: 0;
}
body{
	background: url('../img/img-one.jpeg') no-repeat center top;
	background-size: cover;
	font-family: 'GT Walsheim Pro';
}


/* Login Section CSS */
.login-section{
	display: flex;
	align-items: center;
	min-height: 100vh;
}
.login-box{
	background: #fff;
	border-radius: 5px;
	height: 530px;
}
.first-box{
	background: #002333;	
	border-radius: 5px 0 0 5px ;
	padding: 120px 25px;
	height: 530px;
	color: #fff;
}
.first-box h2{
	font-size: 26px;
	font-weight: bold;
}
.first-box .separator{
	border: 4px solid #00ff84;
	border-radius: 15px;
	margin: 25px 0;
	width: 100px;
}
.first-box h4{
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
}


/* Second Box CSS */
.second-box{
	padding: 60px 30px;
}
.social-login {
    border: 1px solid #394649;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 13px 15px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.social-login:hover{
	background: rgb(0 255 132 / 11%);
}
.icon i{
	font-size: 24px;
    color: #316FF6;
}
.icon i.fa-google{
    color: #DB4437;
}
.icon i.fa-apple{
    color: #000000;
}
.icon-text {
    padding-left: 25px;
}
.icon-text p{
	font-size: 15px;
	font-weight: 600;
}
.or-box span{
	position: relative;
	display: block;
	margin-top: 10px;
	text-align: center;
	font-weight: 600;
    font-size: 15px;
}
.or-box span::before{
	position: absolute;
	content: "";
	background: #394649;
	width: 42%;
	height: 1px;
	left: 0;
	top: 50%;
}
.or-box span::after{
	position: absolute;
	content: "";
	background: #394649;
	width: 42%;
	height: 1px;
	right: 0;
	top: 50%;
}
.form-group{
	margin-top: 20px;
}
.form-control:focus{
	outline: none;
	box-shadow: none;
	border-color: #dee2e6;
}
.login-btn{
	background: #002333;
	font-weight: 600;
	color: #fff;
}
.login-btn:hover{
	background: #00ff84;
}